.env
node_modules/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
dist/
build/
tmp/
temp/
.cache/
.parcel-cache/
npm-debug.log
.env.local
.env.development.local
coverage/
.nyc_output/
.anaconda/
.bashrc
.conda/
.condarc
.continuum/
.gitconfig
.gradle/
.idlerc/
.ipynb_checkpoints/
.ipython/
.javacpp/
.jupyter/
.keras/
.lesshst
.local/
.m2/
.matplotlib/
.mongodb/
.mongorc.js
.node_repl_history
.npm/
.odbc.ini
.oracle_jre_usage/
.python_history
.redhat/
.rest-client/
.sqlite_history
.ssh/
.swiftpm/
.tcshrc
.viminfo
.vscode/
.xonshrc
.yarnrc
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Splice/
anaconda3/
Seleniums/